body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pdf {
	height: 80vh;
	overflow: scroll;
}

.clicked {
  background-color: red
}

.unclickable {
  color: #ddd;
}

.disabled {
  color: #222;
}

.header {
  font-weight: bolder;
}

.used {
  background-color: #222;
  text-decoration: line-through;
}

.judge {
  background-color: #aaa;
}

.design {
  background-color: #118;
}

.performance {
  background-color: #171;
}

.core {
  background-color: #ca1;
}

.project {
  background-color: #811;
}

.champ {
  background-color: #404;
}
